@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
}
* {
  font-family: 'OpenSans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'OpenSans', sans-serif;
}
div {
  font-family: 'OpenSans', sans-serif;
}
a {
  font-family: 'OpenSans', sans-serif;
  text-decoration: none;
  color: inherit;
}
main {
  background: #ffffff url('../images/water-image.png') no-repeat top center;
  padding: 150px 0px 50px 0px;
}
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.row-flex {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .row-flex {
    flex-direction: column;
  }
}
#filtered-data {
  display: flex;
  flex-direction: row;
  xjustify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  #filtered-data {
    flex-direction: column;
  }
}
.dealer-box {
  max-width: 100%;
  -webkit-box-shadow: 0px 1px 4px 1px #999999;
  -moz-box-shadow: 0px 1px 4px 1px #999999;
  box-shadow: 0px 1px 4px 1px #999999;
  display: block;
  border-radius: 8px;
  flex: 0 0 calc((100% / 3) - 20px);
  margin-bottom: 10px;
  margin-right: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dealer-box {
    width: 100%;
  }
}
.dealer-box .dealer-padded-content {
  padding: 20px;
}
.dealer-box .dealer-padded-content .dealer-header {
  height: 75px;
}
.dealer-box .dealer-padded-content .dealer-header h1 {
  text-align: center;
  font-size: 36px;
}
.dealer-box .dealer-padded-content .vertical-line-separator {
  width: 100%;
  height: 2px;
  background: #ececec;
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dealer-box .dealer-padded-content .vertical-line-separator {
    display: none;
  }
}
.dealer-box .dealer-padded-content .dealer-details {
  text-align: center;
}
.dealer-box .dealer-padded-content .dealer-details .phone-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dealer-box .dealer-padded-content .dealer-details .phone-container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dealer-box .dealer-padded-content .dealer-details .phone-container {
    background: #216ddf;
    flex-direction: row;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
  }
}
.dealer-box .dealer-padded-content .dealer-details .phone-container .mobile-text {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dealer-box .dealer-padded-content .dealer-details .phone-container .mobile-text {
    margin-left: 15px;
    display: block;
  }
}
.dealer-box .dealer-padded-content .dealer-details .phone-container .phone-icon-img {
  background: url('../images/phone-icon-desktop.png');
  background-size: cover;
  display: block;
  height: 28px;
  width: 28px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dealer-box .dealer-padded-content .dealer-details .phone-container .phone-icon-img {
    background: url('../images/phone-icon-mobile.png');
    background-size: contain;
  }
}
.dealer-box .dealer-padded-content .dealer-details .phone-container h1 {
  font-weight: bold;
  font-size: 32px;
  margin-left: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dealer-box .dealer-padded-content .dealer-details .phone-container h1 {
    margin-left: 10px;
    font-size: 22px;
  }
}
.dealer-box .dealer-padded-content .dealer-details em {
  font-style: italic;
  font-size: smaller;
}
.dealer-box .dealer-padded-content .dealer-details button {
  background: #ffffff;
  color: #083d8c;
  padding: 15px 10px 15px 37px;
  font-weight: bold;
  border: 1px solid #02c7c6;
  border-radius: 3px;
  font-size: 15px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.dealer-box .dealer-padded-content .dealer-details button .email-icon {
  background: url('../images/email-icon.png') no-repeat center center;
  background-size: cover;
  display: block;
  position: absolute;
  width: 17px;
  height: 15px;
  left: 10px;
  top: 16px;
}
.dealer-box .dealer-padded-content .dealer-details button:hover {
  background: #f6f6f6;
}
.dealer-box .dealer-padded-content .dealer-details .dealer-hours h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
.dealer-box .dealer-padded-content .dealer-details .dealer-hours p {
  line-height: 1.6;
  font-size: smaller;
}
.dealer-box .dealer-tags {
  background: #f6f6f6;
  height: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: smaller;
  color: #adadad;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dealer-box .dealer-tags {
    flex-direction: column;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .dealer-box .dealer-tags {
    flex-direction: row;
  }
}
.dealer-box .standardized-tag {
  width: 50%;
  text-align: center;
  flex-grow: 1;
}
.dealer-box .standardized-tag span {
  background-size: contain;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.dealer-box .installationpro {
  width: 50%;
  text-align: center;
  flex-grow: 1;
}
.dealer-box .installationpro span {
  background: url('../images/star-installation-pro.png') no-repeat center center;
}
.dealer-box .installationpro span {
  background-size: contain;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.dealer-box .servicepro {
  width: 50%;
  text-align: center;
  flex-grow: 1;
}
.dealer-box .servicepro span {
  background: url('../images/gear-service-pro.png') no-repeat center center;
}
.dealer-box .servicepro span {
  background-size: contain;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.dealer-box .residentialpro {
  width: 50%;
  text-align: center;
  flex-grow: 1;
}
.dealer-box .residentialpro span {
  background: url('../images/home-residential-pro.png') no-repeat center center;
}
.dealer-box .residentialpro span {
  background-size: contain;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.dealer-box .commercialpro {
  width: 50%;
  text-align: center;
  flex-grow: 1;
}
.dealer-box .commercialpro span {
  background: url('../images/users-commercial-pro.png') no-repeat center center;
}
.dealer-box .commercialpro span {
  background-size: contain;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
