@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
}
body {
  font-family: 'OpenSans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  background: #ffffff url('../images/water-image.png') no-repeat top center;
  padding: 150px 0px 50px 0px;
}
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
.row-flex {
  display: flex;
  flex-direction: row;
}
