@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
}
* {
  font-family: 'OpenSans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'OpenSans', sans-serif;
}
div {
  font-family: 'OpenSans', sans-serif;
}
a {
  font-family: 'OpenSans', sans-serif;
  text-decoration: none;
  color: inherit;
}
main {
  background: #ffffff url('../images/water-image.png') no-repeat top center;
  padding: 150px 0px 50px 0px;
}
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.row-flex {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .row-flex {
    flex-direction: column;
  }
}
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .filter-container {
    flex-direction: column;
  }
}
.filter-container .filter {
  background: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .filter-container .filter {
    flex-direction: column;
  }
}
.filter-container .filter div {
  margin-left: 25px;
  margin-right: 25px;
}
.filter-container .filter div:nth-child(3) {
  margin-right: 15px;
}
.filter-container .filter .dealer-count {
  font-weight: bold;
  color: #216ddf;
}
.filter-container .filter .separator-bar {
  height: 50px;
  width: 2px;
  background: #ececec;
  display: block;
}
.filter-container .filter .filter-results {
  display: inline-block;
  font-weight: bold;
}
.filter-container .filter .input-container {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  padding-right: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: smaller;
}
.filter-container .filter .input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin-right: 15px;
}
.filter-container .filter .input-container input:checked ~ .checkmark {
  background-color: #216ddf;
}
.filter-container .filter .input-container:nth-child(5) {
  padding-right: 0px;
}
.filter-container .filter .checkmark {
  position: absolute;
  top: -75%;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}
.filter-container .filter .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.filter-container .filter .input-container input:checked ~ .checkmark:after {
  display: block;
}
.filter-container .filter .input-container .checkmark:after {
  left: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
  background: #fff;
}
.filter-container .filter .filter-tooltip {
  background: #d8d8d8;
  margin-left: 0px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: #216ddf;
  font-size: smaller;
  position: relative;
  cursor: pointer;
}
.filter-container .filter .filter-tooltip .filter-tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #216ddf;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -65px;
}
.filter-container .filter .filter-tooltip .filter-tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #216ddf transparent transparent transparent;
}
.filter-container .filter .filter-tooltip:hover .filter-tooltip-text {
  visibility: visible;
}
