@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
}
* {
  font-family: 'OpenSans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'OpenSans', sans-serif;
}
div {
  font-family: 'OpenSans', sans-serif;
}
a {
  font-family: 'OpenSans', sans-serif;
  text-decoration: none;
  color: inherit;
}
main {
  background: #ffffff url('../images/water-image.png') no-repeat top center;
  padding: 150px 0px 50px 0px;
}
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.row-flex {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .row-flex {
    flex-direction: column;
  }
}
footer a:hover {
  text-decoration: underline;
}
.social-connect {
  box-sizing: border-box;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #083d8c;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .social-connect {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.social-connect .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .social-connect .social {
    flex-direction: column;
  }
}
.social-connect .social div {
  margin-left: 10px;
  margin-right: 10px;
}
.social-connect .social h3 {
  display: inline;
  font-weight: bold;
}
.social-connect .social ul {
  display: inline;
}
.social-connect .social ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.social-connect .social ul li img {
  max-height: 15px;
  width: auto;
}
.copyright-terms {
  box-sizing: border-box;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  background: #216ddf;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .copyright-terms {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.copyright-terms div {
  display: inline;
  padding-right: 15px;
}
