@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
}
* {
  font-family: 'OpenSans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'OpenSans', sans-serif;
}
div {
  font-family: 'OpenSans', sans-serif;
}
a {
  font-family: 'OpenSans', sans-serif;
  text-decoration: none;
  color: inherit;
}
main {
  background: #ffffff url('../images/water-image.png') no-repeat top center;
  padding: 150px 0px 50px 0px;
}
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.row-flex {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .row-flex {
    flex-direction: column;
  }
}
.blue-header {
  box-sizing: border-box;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  background: #083d8c;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .blue-header {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .blue-header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .blue-header {
    flex-direction: column;
  }
}
.blue-header .commercial-service {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .blue-header .commercial-service {
    flex-direction: column;
  }
}
.blue-header .commercial-service div img {
  max-width: 15px;
  height: auto;
  margin-left: 10px;
}
nav {
  box-sizing: border-box;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 8px 4px 0px #666666;
  -moz-box-shadow: 0 4px 8px 0px #666666;
  box-shadow: 0 4px 8px 0px #666666;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  nav div:nth-child(2) {
    order: 2;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  nav img {
    max-width: 95%;
  }
}
nav .mobile-menu-image {
  display: none;
  background: url('../images/menu-icon-mobile.png') no-repeat center center;
  background-size: contain;
  height: 50px;
  width: 100px;
  cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  nav .mobile-menu-image {
    display: inline-block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  nav .nav-items {
    display: none;
  }
}
nav .nav-items ul li {
  display: inline;
  padding-left: 50px;
  font-weight: bold;
  color: #083d8c;
}
nav .nav-items ul li a {
  padding: 10px;
}
nav .nav-items ul li a:hover {
  background: #083d8c;
  color: #FFFFFF;
  border-radius: 5px;
}
nav button {
  background: #ffffff;
  color: #216ddf;
  padding: 15px 10px 15px 37px;
  font-weight: bold;
  border: 1px solid #216ddf;
  border-radius: 3px;
  font-size: 15px;
  position: relative;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  white-space: nowrap;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  nav button {
    margin-right: 20px;
    height: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
nav button .location-icon {
  background: url('../images/location-icon.png') no-repeat center center;
  background-size: contain;
  display: block;
  position: absolute;
  width: 17px;
  height: 15px;
  left: 10px;
  top: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  nav button .location-icon {
    top: 6px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  nav button .pool-span {
    display: none;
  }
}
nav button:hover {
  background: #f6f6f6;
}
