@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
}
body {
  font-family: 'OpenSans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
main {
  background: #ffffff url('../images/water-image.png') no-repeat top center;
  padding: 150px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.filter {
  background: #f6f6f6;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 50px;
}
