@import './default.less';

.dealer-box {
    height: 250px;
    width: 150px;
    -webkit-box-shadow: 0px 1px 4px 1px #999999;
    -moz-box-shadow: 0px 1px 4px 1px #999999;
    box-shadow: 0px 1px 4px 1px #999999;
    display: block;
    border-radius: 8px;
}