@font-face {
    font-family: 'OpenSans';
    src:  url('./fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    src:  url('./fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'OpenSans';
    src:  url('./fonts/OpenSans-Italic.ttf') format('truetype');
    font-style: italic;
}

@dark-blue: #083d8c;
@light-blue: #216ddf;

body {
    font-family: 'OpenSans', sans-serif;
}