@import './default.less';

footer {
    a:hover {
        text-decoration: underline;
    }
}

.social-connect {
    .container;
    padding-top: 25px;
    padding-bottom: 25px;
    background: @dark-blue;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer-logo {
        text-align: center;
        img {
            .responsive(768px, {
                max-width: 90%;
            });
        }
    }
    .social {
        .row-flex;
        align-items: center;
        margin-top: 20px;
        div {
            margin-left: 10px;
            margin-right: 10px;
            .responsive(768px, {
                margin-bottom: 15px;
            });
        }
        h3 {
            display: inline;
            font-weight: bold;
        }
        ul {
            display: inline;
            li {
                display: inline;
                padding-left: 10px;
                padding-right: 10px;
                img {
                    max-height: 15px;
                    width: auto;
                }
            }
        }
    }
}
.copyright-terms {
    .container;
    background: @light-blue;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    .d-d-mobile {
        display: none;
        .responsive(768px, {
            display: inline;
        });
        div { 
            .responsive(768px, {
                display: inline;
            });
            img {
                .responsive(768px, {
                    max-width: 9px;
                    height: auto;
                    margin-left: 10px;
                });
            }
        }
        .d-d-mobile-separator {
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
            background: #ffffff;
            height: 1px;
            width: 100%;
        }
    }
    .copyright-terms {
        div {
            display: inline;
            padding-right: 15px;
            .responsive(768px, {
                padding-right: 2px;
            });
        }
    }
}