@import './default.less';

.blue-header {
    background: @dark-blue;
    color: #FFFFFF;
    padding: 15px 0px 15px 0px;
    div {
        display: inline;
    }
}

nav {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 8px 4px 0px #666666;
    -moz-box-shadow: 0 4px 8px 0px #666666;
    box-shadow: 0 4px 8px 0px #666666;
    ul {
        li {
            display: inline;
        }
    }
}