@import './default.less';

.blue-header {
    .responsive(768px, {
        display: none;
    });
    .container;
    background: @dark-blue;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    .row-flex;
    justify-content: flex-end;
    .commercial-service {
        margin-left: 25px;
        .row-flex;
        div {
            img {
                max-width: 15px;
                height: auto;
                margin-left: 10px;
            }
        }
    }
}

nav {
    .container;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 8px 4px 0px #666666;
    -moz-box-shadow: 0 4px 8px 0px #666666;
    box-shadow: 0 4px 8px 0px #666666;
    .row-flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    .responsive(768px, {
        flex-direction: row;
    });
    img {
        .responsive(768px, {
            max-width: 75%;
        });
    }
    .mobile-menu-image {
        display: none;
        background: url('../images/menu-icon-mobile.png') no-repeat center center;
        background-size: contain;
        height: 50px;
        width: 100px;
        cursor: pointer;
        .responsive(768px, {
            display: block;
        });
    }
    ul {
        .responsive(768px, {
            display: none;
        });
        li {
            display: inline;
            padding-left: 50px;
            font-weight: bold;
            color: @dark-blue;
            a {
                padding: 10px;
            }
            a:hover {
                background: @dark-blue;
                color: #FFFFFF;
                border-radius: 5px;
            }
        }
    }
    button {
        background: #ffffff;
        color: @light-blue;
        padding: 15px 10px 15px 37px;
        font-weight: bold;
        border: 1px solid @light-blue;
        border-radius: 3px;
        font-size: 15px;
        position: relative;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
        .location-icon {
            background: url('../images/location-icon.png') no-repeat center center;
            background-size: contain;
            display: block;
            position: absolute;
            width: 17px;
            height: 15px;
            left: 10px;
            top: 16px;
        }
    }
    button:hover {
        background: #f6f6f6;
    }
}